# 환경 변수 파일
.env

# Python 캐시
__pycache__/
*.py[cod]
*.pyo

# 가상 환경 
.venv/
venv/
ENV/
env/

# IDE 설정 파일들 (VSCode, PyCharm 등)
.vscode/
.idea/

# 로그 및 실행 중 생성 파일
*.log

# 📂 OS 메타파일
.DS_Store
Thumbs.db

# 📁 pytest, coverage, mypy 등의 출력
htmlcov/
.tox/
.mypy_cache/
.coverage
.cache/
pytest_cache/

# 📂 FastAPI 문서 자동화 파일
openapi.json
docs.json

# Gemini API 서비스 계정 키
/app/credentials

# MongoDB 데이터베이스 덤프 파일
/app/db/to_mongo

# 기타 개인 설정 파일 및 디렉토리
tree.ipynb
temp_audio
logs
output
image_color
imput_img
output_pre
checkpoints_v2
processed
RealTime_zeroshot_TTS_ko
models
requirements2.txt
/app/api/v2
/tts_server
my_app
permit_detail_checkpoint.json
