#python==3.9.21
beautifulsoup4==4.13.4
fastapi==0.116.1
google-cloud-vision==3.10.2
google-generativeai==0.8.5
html5lib==1.1
httpx==0.28.1
lxml==6.0.2
motor==3.2.0
numpy==1.26.4
opencv-python==4.12.0.88
pandas==2.3.3
Pillow==9.5.0
protobuf==5.29.5
pydantic==2.11.7
pydantic-settings==2.10.1
pymongo==4.5.0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
pytz==2025.2
requests==2.32.4
scikit-learn==0.24.1
torch==1.13.1
torchvision==0.14.1
tqdm==4.67.1
ultralytics==8.3.163
uvicorn==0.37.0
uvicorn[standard]==0.23.2
